.Login {
    width: 300px;
    padding: 1.5rem;
    background: var(--dialog-background-color);
}


.Login__error {
    display: flex;
    width: 100%;
    align-items: center;

    background: firebrick;
    color: lightgrey;
}
