.Login {
    width: 35vh;
    padding: 1.5rem;
    background: white;
}


.Login__Form__element {
    width: 100%;
    height: 2.5rem;

    margin-bottom: 1vh;
    border: none;

    background: lightgrey;
}


.Login__Form__element:focus {
    outline: darkslategray solid 2px;
}

.Login__Form__input {
    padding: 1rem;
}

.Login__Form__input::placeholder {
    color: darkslategray;
}

.Login__Form__button {
    color: darkslategray;
}

.Login__error {
    width: 100%;
    padding: 0.5rem;
    background: firebrick;
    color: lightgrey;
}
