.Login {
    width: 35vh;
    padding: 1.5rem;
    background: var(--dialog-background-color);
}


.Login__element {
    width: 100%;
    height: 2.5rem;

    margin-bottom: 0.5rem;
    padding: 0 1rem 0 1rem;
}


.Login__error {
    display: flex;
    align-items: center;

    background: firebrick;
    color: lightgrey;
}
