:root {
    --background-color: #36393F;


    --form-input-background-color: #313339;

    --form-input-outline-color: #212327;
    --form-input-outline-focus-color: #7289DA;
    --form-input-outline-size: 2px;

    --form-input-placeholder-color: #8E9297;
    --form-input-text-color: #CECFD0;

    --form-submit-background-color: #7289DA;
    --form-submit-hover-background-color: #677BC4;
    --form-submit-focus-background-color: #5B6EAE;
    --form-submit-text-color: #F4F5FB;

    --subscriptions-tree-background-color: #2F3136;
    --subscriptions-toolbar-background-color: #292B2F;

    --subscriptions-tree-node-text-color: #7E8186;
    --subscriptions-tree-node-hover-text-color: #FFFFFF;
    --subscriptions-tree-node-selected-text-color: #FFFFFF;
    --subscriptions-tree-node-hover-background-color: #393C42;
    --subscriptions-tree-node-selected-background-color: #393C42;

    --feedbrowser-background-color: #36393F;
    --feedbrowser-item-hover-background-color: #32353B;
    --feedbrowser-item-selected-background-color: #32353B;
    --feedbrowser-item-text-color: #CECFD1;

    --feeditemviewer-background-color: #40444B;
    --feeditemviewer-text-color: #DCDDDE;

    --subscriptions-editor-background-color: #313339;

    --dialog-background-color: #2F3136;
    --dialog-text-color: #CECFD1;
    --dialog-button-text-color: #CECFD0;
    --dialog-button-background-color: transparent;
    --dialog-button-hover-background-color: transparent;
    --dialog-button-focus-background-color: transparent;
    --dialog-button-primary-background-color: #7289DA;
    --dialog-button-primary-hover-background-color: #677BC4;
    --dialog-button-primary-focus-background-color: #5B6EAE;

    --toolbar-item-background-color: transparent;
    --toolbar-item-hover-background-color: #31353A;
    --toolbar-item-active-background-color: #31353A;
    --toolbar-item-color: #B8BABD;

    --grid-gap: 0;
}
