.SubscriptionsBrowser {
    display: grid;

    width: 100%;
    height: 100%;

    grid-template-areas:
        "tree"
        "toolbar";

    grid-template-rows: 1fr 2.5rem;

    gap: var(--grid-gap);
}

.SubscriptionsBrowser__Tree {
    grid-area: tree;
}

.SubscriptionsBrowser__Toolbar {
    grid-area: toolbar;
}
