.SubscriptionsBrowser {
    display: grid;

    width: 100%;
    height: 100%;

    grid-template-areas:
        "tree"
        "toolbar";
    grid-template-rows: 1fr 3rem;
}

.SubscriptionsBrowser__Tree {
    grid-area: tree;
    padding: 1rem;
    background-color: var(--subscriptions-tree-background-color);
}

.SubscriptionsBrowser__Toolbar {
    background-color: var(--subscriptions-toolbar-background-color);
    grid-area: toolbar;
}
